.form-task {
  display: block;
  margin: 10px;
  max-width: 600px;
}

.label-task {
  color: var(--gray-dark);
}

.inpt-title-task, .btn-add-task {
  margin-left: 10px;  
  padding: 2px;
}

.inpt-task {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid var(--secondary);
  height: 1.60rem;
  width: 100%;
  border-radius: 0.25rem;
}

@media(max-width: 519px) {
  .inpt-title-task {
    display: block;
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
    flex: 1;
  }
}

.inpt-task:focus {
    border-color: var(--blue-light);
    outline: 0;
    box-shadow: 0 0 0 0.2rem var(--blue-focus);
}

.btn-add-task {
  margin-left: auto;
  width: 8.4rem;
  height: 1.60rem;
  padding: 2px;
  background-color: var(--blue);
  border-color: var(--blue);
  color: var(--primary);
  border: 1px solid transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: .25rem;
}
@media(max-width: 519px) {
  .btn-add-task {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
  }
}
.btn-add-task:hover {
  color: var(--primary);
  background-color: var(--blue-hover);
  border-color: var(--blue-hover);
}

.btn-add-task:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--blue-light);
}