.inpt-login {
  margin: 5px;
  margin-bottom: 5px;
  border: 1px solid var(--secondary);
  height: 1.60rem;
  width: 200px;
  border-radius: 0.25rem;
}

.inpt-login:focus {
  border-color: var(--blue-light);
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--blue-focus);
}

.btn-login {
  margin-left: auto;
  width: 8.4rem;
  height: 1.60rem;
  padding: 2px;
  background-color: var(--blue);
  border-color: var(--blue);
  color: var(--primary);
  border: 1px solid transparent;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-radius: .25rem;
}
@media(max-width: 519px) {
  .btn-login {
    margin-top: 10px;
    margin-left: 0;
    width: 100%;
  }
}
.btn-login:hover {
  color: var(--primary);
  background-color: var(--blue-hover);
  border-color: var(--blue-hover);
}